img {
  width: 250px;
  height: auto;
}

.axis path {
	fill: none;
    stroke: black;
    stroke-width: 2px;
}

.axis text {
    font-size: 14px;
}

.Marty{
  stroke: orange;
}
.Jay {
  stroke: blue;
}
.Dustin {
  stroke: green;
}
.Darryl {
  stroke: red;
}
.Eric {
  stroke: black;	
}
.Daniel {
  stroke: yellow;
}
.Corey {
  stroke: brown;	
}

